
.scroll-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  min-width: 700px;
  line-height: 1.75em;
}

.scroll-text {
  padding: 0px 50px 0 0;
  width: 40%;
}

.scroll-text-section {
  margin-bottom: 10em;
}

.scroll-visual {
  width: 60%;
  height: 650px; /* should match height of the visual */
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  padding: 20px 0 0 0;
}
