
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #636363;
  font-weight: 300;
}

#sideBarContainer {
  background: #302F42;

}

#sideBarContainer .nav-link {
  color: #fff !important;;
}
.nav-link.active {
  background: #ae4ec2 !important;
}

.btn-circle, .btn-circle:hover, .btn-circle:active {
  background: #ae4ec2 !important;
  border: none;
}
.btn-circle:hover {
  filter: brightness(0.9)
}

footer {
  padding: 0.6em !important;
}
footer > a{
  color: #a1a1a1;
}
footer > a:hover{
  filter: brightness(70%);
  color: #a1a1a1 !important;
}

/* controls the red ribbon in the bottom left corner */
.corner-ribbon{
  width: 200px;
  background: #b81b11;
  position: fixed;
  bottom: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
  font-size: 1.5em;
  font-weight: 700;
  color: #f0f0f0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 9999;
}

.tab-pane > h1 {
  margin-bottom: 0.7em;
}

/* help side bar menu */
#controlbar-toggle > i {
  color: #fff;
}
#controlbar-toggle:hover {
  filter: brightness(0.7)
}
#controlbar-toggle:active {
  filter: brightness(0.5)
}
#controlbar-toggle {
  background: #ae4ec2;
  border-radius: 0.3em;
}
#help-slideover {
  padding: 1rem;
  -webkit-box-shadow: -20px 0px 50px rgba(74, 74, 74, 0.5);
  -moz-box-shadow: -20px 0px 50px rgba(74, 74, 74, 0.5);
  box-shadow: -20px 0px 50px rgba(74, 74, 74, 0.5);
}
