/* controls the red ribbon in the top right corner */
.cornerRibbon{
  width: 220px;
  background: #b0453e;
  position: fixed;
  top: 10px;
  right: -60px;
  text-align: center;
/*   line-height: 50px; */
  letter-spacing: 3px;
  font-size: 1.5em;
  font-weight: 700;
  color: #f0f0f0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 1000;
  padding-top: 0.25em;
}

.cornerRibbon > div {
  position: relative;
  font-size: 0.5em;
  letter-spacing: normal;
  line-height: normal;
  padding-bottom: 0.7em;
}

.cornerRibbon a {
    color: #fff;
}
