/*this controls the look of the help slideover*/
/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
/*may be able to replace all this css and js with bootstrap https://getbootstrap.com/docs/5.0/components/offcanvas/ */

.helpSideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #3e374a;
  overflow-x: hidden;
  transition: 0.35s;
  padding-top: 1rem;
  -webkit-box-shadow: 400px 0px 300px rgba(74, 74, 74, 0.5);
  -moz-box-shadow: 400px 0px 300px rgba(74, 74, 74, 0.5);
  box-shadow: 400px 0px 300px rgba(74, 74, 74, 0.5);
}

.helpSideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b0b0b0;
  display: block;
  transition: 0.3s;
}

.helpSideBar a:hover {
  color: #f1f1f1;
}

.helpSideBarContainer {
  float: right;
}

.helpSideBarContainer p, .helpSideBarContainer h1, .helpSideBarContainer h2, .helpSideBarContainer h3, .helpSideBarContainer h4, .helpSideBarContainer h5 {
  color: #b0b0b0;
}

.helpHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  z-index: 99;
  background-color: #3e374a;
  padding: 0.2rem 3rem 0.2rem 3rem;
  border-bottom-width: 0.1rem;
  border-bottom-color: #b0b0b0;
  border-bottom-style: solid;
  box-shadow: 0rem -2rem 2rem 1rem #3e374a;
  margin: 0;
}

.helpHeader .closebtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 3em;
}

.markdownContainer > p, .markdownContainer > h4, .helpSubHeader > h3 {
  padding: 0.2rem 3rem 0.3rem 3rem;
  margin: 0rem;
}

.markdownContainer > p {
  padding: 1rem 3rem 1rem 3rem;
}

.markdownContainer > h4 {
  padding: 1rem 3rem 0.3rem 3rem;
}

.helpSubHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 7.45rem;
  z-index: 98;
  background-color: #3e374a;
  padding: 0rem 0 0rem 0;
  margin: 0 0 0rem 0;
  border-bottom-width: 0.1rem;
  border-bottom-color: #b0b0b0;
  border-bottom-style: solid;
}

.sideBarBtn {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  line-height: 2.5rem;
  z-index: 99997;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #757391;
  opacity: 0.6;
  cursor: pointer;
}

.sideBarBtn:hover {
  opacity: 1;
  transition-duration: 400ms;
}

.sideBarExit {
  content: " ";
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99996;
  top: 0;
  left: 0;
}

.btn.btn-default.help {
  background-color: #938497 !important;
}

.btn.btn-default.help:hover {
  background-color: #a997ad !important;
}
