/* controls the quiz*/

.quiz-container {
  max-width: min(100%, 800px)
}

.quiz-container h3 {
  color: #4d4d4d;
  font-weight: 600;
}

.quiz-container hr {
    border-top: 0.1em solid #cccccc !important;
}

.submit-button {
  
}

.restart-button {
  max-width: 150px !important;
}

.learning-content {
  display: none;
}

