/* scrollytell -- individual modules may override these*/
.scrollytell-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  min-width: 700px;
}

.text-along-d3,
.d3-container {
  background-color: #fff;
}

.text-along-d3 {
  padding: 0px 50px 0 0;
  width: 40%;
}

.d3-container {
  width: 60%;
  height: 650px; /* should match height of d3 plot or d3 plot plus appended table */
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  padding: 20px 0 0 0;
}
