.learning_potential_outcomes-learning-content h2 {
  padding-top: 1.5em;
}
.learning_potential_outcomes-learning-content h3 {
  padding-top: 1.0em;
}
.learning_potential_outcomes-learning-content div h3 {
  padding-top: 0em;
}
