body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #424242;
}

span {
  font-size: 1.5em;
  font-weight: 1000;
  font-family: monospace;
  color: #394E48;
}

h1, h2, h3, h4 {
  text-align: left;
  font-weight: 100;
  padding: 0px 0px 0px 0px;
}

svg {
  margin: 1em;
}

.mainView {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.slider-container {
  display: flex;
  padding: 0.5em;
  width: 100%;
}

.container-item {
  display: relative;
  padding: 0 1em 2em 1em;
}

#main-histogram {

}

#main-histogram rect {
  fill: #7a9e7eff
}

#main-histogram path,
#main-histogram text,
#main-histogram line {
  color: #545454;
}

#reset-galton {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: #a8a7a7;
  padding: 5px 8px;
  text-align: center;
  font-size: 0.8em;
}
#reset-galton:hover {
  cursor: pointer;
  color: #5c5c5c;
}

#galton-canvas {
  height: 830px;
  width: 500px;
  margin: 1em;
  /*border: 10px solid grey;*/
  /*border-top: 0px;*/
  /*border-top: 6px solid #e0e0e0;*/
  border-radius: 5px;
}
